config/n8n/workflows/02-schedule-test.json
{
  "name": "02 - Schedule Test",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-node",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "timestamp",
        "value": "={{ $now.toISO() }}"
      },
      "id": "set-node",
      "name": "Set Timestamp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "log",
        "message": "={{ \"Scheduled execution at: \" + $json.timestamp }}"
      },
      "id": "log-node",
      "name": "Log to Console",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [650, 300],
      "notes": "This node simulates logging. In production, you would use a proper logging node or send to a monitoring service."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Timestamp": {
      "main": [
        [
          {
            "node": "Log to Console",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "example-schedule-1.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "borgstack-n8n"
  },
  "tags": [
    {
      "name": "example",
      "id": "example-tag"
    }
  ]
}
